<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>computer_shop_resource</display-name>

   <servlet>
        <servlet-name>XFireServlet</servlet-name>
         <servlet-class>org.codehaus.xfire.transport.http.XFireConfigurableServlet</servlet-class>  
        <!-- <servlet-class>org.codehaus.xfire.transport.http.XFireServlet</servlet-class> -->
    </servlet>
	
    <servlet-mapping>
        <servlet-name>XFireServlet</servlet-name>
        <url-pattern>/servlet/XFireServlet/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>XFireServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
	
 	
	<filter>
        <filter-name>computer_shop_resource</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
          <param-name>applicationClassName</param-name>
          <param-value>window.Application</param-value>
        </init-param>
        <init-param>
        	<param-name>path_to_image</param-name>
        	<param-value>c:\Astronom_image\</param-value>
        </init-param>
        <init-param>
        	<param-name>path_to_astronomy_jrxml</param-name>
        	<param-value>c:\Astronom_pattern\Astronomy.jrxml</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>computer_shop_resource</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

     
</web-app>
